@keyframes slide {
    from {
      transform: translateY(10%);
      }

     to {
        transform: translateY(40%);
        } 
       }
  .slide {
    animation: slide 1.3s ease-out forwards;
    }